* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    background-color: #E0FFFF;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.5;
    padding: 10px;
}
h3 {
    color: red;
}

header {
    margin: 0 auto 50px auto;
    width: 100%;
    padding: 30px;
    background: white;
    border: 3px solid #30ddd4;
}   
.container {
    border: 3px solid #30ddd4;
    background-color: white;
    padding: 20px;
}

ul {
    list-style: none;
}

.scores {
    display: none;
}
.end-game {
    display: none;
}

button {
    padding: 5px;
    background-color: #30ddd4;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: 2px 2px 6px 1px rgba(14, 68, 73, 0.466);
    border-radius: 6px;
}
